%h1 About Me

= image_tag 'Allison Portrait.jpg', :size => '400x406', :class => 'right-photo'

%p
  Allison Beard has over 25 years of experience in Musculoskeletal Medicine,
  first qualifying in Sports Therapy back in 1987.

%p
  Allison has held various academic roles in health care including Senior
  Lecturer at the University of the Highlands and Islands (Inverness) and
  Subject Consultant for Lancaster University. She set up ABC Consulting in 2005
  using her skills and experience to provide educational support to the medical
  industry, universities and colleges.

%p
  After qualifying in Osteopath at The London School of Osteopathy she opened
  the ABC Osteopathic Clinic at East Beach in Lytham, Lancashire. The Clinic
  provides a wide range of services to clients including Orthopaedic Medicine,
  Complementary Medicine and Osteopathy to benefit her clients.

.clear-both
