%h1 Specialising in Osteopathy, Sports and Exercise Medicine

.right-photo
  = image_tag 'Clinic Welcome.jpg', :size => '500x385'

%p
  ABC Consulting was established in 2005 by Mrs Allison Beard, who has over
  25 years of experience in Musculoskeletal Medicine.


%p
  At ABC Osteopathic Clinic we provide a wide range of services
  to optimise your health and wellbeing these include:

%ul
  %li Cardio Respiratory Fitness Assessment (VO2Max)
  %li  RMR and Energy Expenditure Assessments
  %li  Assessment of Muscular strength, resistance and flexibility
  %li  Analysis of Body Composition
  %li  Weight Management Programmes
  %li  Exercise Prescription
  %li  Osteopathic Treatments
  %li  Sports Therapy and Electrotherapy
  %li  Nutritional Support

.clear-both
