%h1 ABC Consulting

.home-page-photo
  = image_tag 'Clinic Welcome.jpg', :size => '500x387'

%h2 Lorem ipsum

%p
  Dthhh3 3hny netynye g hy556. Drberb rhlnrnb wgf
  = link_to "ervgetb betbetb", '#'
  ebebegg. Foo bar brwbtt tblijvnc sge rgb wfvrepvi ebetbte lincwf wvwver gt
  fgv 1234 grgt.

%h3 Pscerigv rbtbgtf rthgth:

%p
  Prnrynry rtnyrn tnyrnyrn nrynyrnry rynyrnyrn yrnjyrjyr

  %li Rrhryh
  %li Ehth4h bryjnyr Yjh
  %li Argrb jkuhb egrgrggr

.clearfix
